html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
/* Основные стили */
:root {
  --h1-h2-color: #000;
  --h3_nav_menu_button-color: #263238;
  --text_p-color: #8F95A5;
  --number-color: #2A3246;
  --bg_card-color: #F5F5F5;
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
h2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--h1-h2-color);
  line-height: 80px;
  text-align: center;
}
h3 {
  font-weight: 600;
  font-size: 30px;
  color: var(--h3_nav_menu_button-color);
  /* line-height: 80px; */
}
p {
  font-weight: 400;
  color: var(--text_p-color);
}
button {
  background-color: var(--h3_nav_menu_button-color);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
button:hover {
  color: var(--h3_nav_menu_button-color);
  background-color: #fff;
  border: 2px solid var(--h3_nav_menu_button-color);
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 55px;
}
.logo {
  padding-bottom: 25px;
}
.nav_menu_iner {
  display: flex;
  list-style: none;
  gap: 45px;
  margin-right: 110px;
  padding-bottom: 22px;
}
.nav_menu_item { 
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: var(--h3_nav_menu_button-color);
}
.nav_menu_item:hover {
    color: var(--h3_nav_menu_button-color);
}
.nav_menu_item::before {
  content: "";         
  position: absolute;  
  display: block;     
  width: 100%;
  height: 2px;
  bottom: -2px;        
  left: 0;
  background-color: var(--h3_nav_menu_button-color);
  transform: scaleX(0);
  transition: transform 0.3s ease; 
}
.nav_menu_item:hover::before {
  transform: scaleX(1);
}
.nav_menu_button {
  padding: 18px 56px;
  letter-spacing: 0.03em;
  color: var(--h3_nav_menu_button-color);
  font-size: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 2px solid var(--h3_nav_menu_button-color);
}
.nav_menu_button:hover {
  color: #fff;
  background-color: var(--h3_nav_menu_button-color);
}
/* Первый раздел */
.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  align-items: center;
}
.header_inner_content {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}
.header_inner_h1 {
  display: flex;
}
.headet_title_h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  max-width: 420px;
  color: var(--h1-h2-color);
}
.header_h1_light {
  width: 120px;
  height: 120px;
  margin-top: 92px;
}
.header_text_p {
  font-size: 24px;
  font-weight: 400;
  color: var(--text_p-color);
  padding-top: 40px;
}
.header_button {
  padding: 36px;
  width: 436px;
  font-size: 36px;
  border-radius: 15px;
  letter-spacing: 0.05em;
  margin-top: 67px;
  border: 2px solid var(--h3_nav_menu_button-color);
}
.header_first_section_img {
  margin-top: 10px;
}
/* Второй раздел Skills */
h2 {
  margin-bottom: 95px;
}
.skills {
  padding-top: 93px;
}
.skills_grid_wrapper {
  display: grid;
  column-gap: 18px;
  row-gap: 20px;
  grid-template-areas: 
  "one two three"
  "one four four";
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 70px;
}
.skills__grid_item {
  background-color: var(--bg_card-color);
  max-width: 435px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.speaking {
  grid-area: one;
  padding-top: 38px;
  justify-content: flex-start;
}
.writing {
  grid-area: two;
  padding-right: 25px;
}
.reading {
  grid-area: three;
  padding-top: 7px;
}
.listening {
  grid-area: four;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 343px;
  padding-right: 31px;
}
.listening .skills__grid_img {
  order: 1;
}
.speaking .skills__grid_img {
  padding-left: 25px;
}
.writing .skills__grid_img {
  padding-left: 120px;
}
.skills__grid_img {
  max-width: 100%;
}
.skills__grid_content {
  margin-top: -31px;
  padding-left: 40px;
}
.speaking .skills__grid_content {
    margin-top: 11px;
}
.listening .skills__grid_content {
  margin-top: 0px;
  max-width: 350px;
  padding-top: 40px;
}
.skills_text_p {
  font-size: 16px;
  max-width: 435px;
  width: 100%;
  line-height: 24px;
  padding-top: 10px;
}
.speaking .skills_text_p {
  padding-right: 30px;
  padding-top: 24px;
}
.skills__item_button {
  width: 218px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s all;
  margin: 31px 0 42px;
}
.speaking .skills__item_button {
  margin-top: 35px;
  width: 230px;
}
/* Третий раздел: About Us */
.about {
  padding-top: 182px;
  margin-bottom: 188px;
}
.about_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_inner_content {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  margin-top: -11px;
}
.About_h2 {
text-align: start;
margin-bottom: 24px;
}
.about__text_p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 45px;
}
.about__inner_score {
  display: flex;
  justify-content: space-between;
  max-width: 612px;
}
.about__score_item {
  text-align: center;
}
.score_item_h3 {
  font-size: 48px;
  line-height: 70px;
}
.score__text_p {
  font-size: 20px;
}
.about_img {
  width: 100%;
}
/* Третий раздел: Pricing */
.pricing_h2 {
  margin-bottom: 72px;
}
.pricing_wripper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 257px;
}
.pricing__card_inner_1 {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  margin-right: 52px;
}
.pricing__card_inner_2 {
  justify-content: space-between;
  width: 390px;
  margin-right: 33px;
}
.pricing__card_img {
  width: 100%;
}
.card_1_img {
  margin-top: -40px;
  padding-left: 25px;
  margin-bottom: 45px;
}
.card_2_img {
width: 391px;
height: 283px;
margin-top: 6px;
margin-bottom: 37px;
}
.card_3_img {
  padding-left: 48px;
  margin-top: -20px;
  margin-bottom: 6px;
}
.pricing__title_card_1 {
  margin-top: -10px;
  margin-bottom: 20px;
}
.pricing__title_card_2 {
  margin-bottom: 60px;
}
.pricing__title_card_3 {
  margin-bottom: 56px;
}
.pricing_h3 {
  padding-bottom: 23px;
}
.pricing_h3_card_1 {
  padding-bottom: 18px;
}
.pricing__text_p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.price_inner {
  display: flex;
  max-width: 240px;
  height: 45px;
  border-radius: 5px;
  background-color: #eee;
  align-items: center;
  justify-content: center;
}
.pricing__card_price {
  margin-right: 15px;
  font-size: 30px;
  color: var(--h3_nav_menu_button-color);
}
.pricins__card_limit {
  font-size: 18px;
}
/* Четвертый раздел: Contact */
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 133px;  
}
.contact_img img{
  max-width: 477px;
  width: 100%;
  height: 429px;
  padding-right: 34px;
}
.contact_content_inner {
  max-width: 776px;
  padding-left: 8px;
  padding-top: 33px;
}
.contact_h2 {
  text-align: start;
  margin-bottom: 37px;
}
.contact__text_p {
  font-size: 20px;
  color: var(--text_p-color);
  margin-bottom: 52px;
}
.contact_form {
  gap: 12px;
}
.input_email {
  width: 450px;
  height: 80px;
  padding-left: 33px;
  border: 1px  solid var(--text_p-color);
  border-radius: 10px;
}
input::placeholder {
  font-size: 16px;
  color: #8F95A5;
}
.contact_button {
  width: 264px;
  height: 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  margin-left: 7px;
}
/* Footer */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  margin-bottom: 64px;
}
footer .container::before {
  content: "";         
  display: block;     
  width: 100%;
  height: 1px;       
  left: 0;
  background-color: var(--text_p-color);
}
.footer_logo {
  padding-top: 5px;
  padding-left: 3px;
}
.footer__policy_inner {
  padding-top: 15px;
}
.policy_list {
  display: flex;
  list-style: none;
}
.policy_item {
  font-size: 24px;
  color: var(--text_p-color);
  text-decoration: none;
  margin-left: 5px;
}
.policy_item_1 {
  font-size: 24px;
  color: var(--text_p-color);
  text-decoration: none;
}



